# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git installers and portable versions
src/assets/Git-*.exe
src/assets/PortableGit-*.exe
src/assets/PortableGit-*.7z
src/assets/PortableGit-*.7z/

# libcurl files
src/assets/libcurl-*.zip
src/assets/libcurl-*/

# ngrok files
src/assets/ngrok-*.zip

#css files
src/rough.css
src/context
src/hooks
src/context

src/components/Layout/ScrollToTop.jsx
src/assets/4288571_balance_judge_justice_law_scale_icon.png
src/assets/balance.png
src/assets/lawyer (1).png
src/assets/Better Call Saugat.png