nav{
  position: sticky;
  top:0;
  z-index: 10;
 }

nav div, ul{
  padding-bottom:15px;
  padding-top: 12px;
}
.customHero{
  visibility: hidden;
}

.paraContentLine{
  overflow: hidden;
}


.customHero div div:nth-child(1) p {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  margin-bottom: 0;
}

.customHero div div:nth-child(2) p {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 25px;
}

.justOuterImgDiv{
  overflow: hidden;
}

@media (max-width: 768px) {
  .customHero{
    visibility: hidden;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
  .customAbout{
flex-direction: column;  
}
 
  body {
    margin: 0;
    padding: 0;
  }
  .customHero div div:nth-child(1) p {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  margin-bottom: 0;
}
.customHero div div:nth-child(2) p {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  margin-bottom: 0;
}
.customHero div:nth-child(1) {
  padding-top: 0.5rem; 
  padding-bottom: 1.5rem;
  flex-basis: auto;
}

.customHero div:nth-child(2) {
  padding-top: 1rem; 
  padding-bottom: 1.5rem;
  flex-basis: auto;
}
}

@media (max-width: 1080px) and (min-width: 769px){
  .customHero{
    visibility: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 80vh;
    /* padding-top: 2rem; */
  }
  .paraContentLine p{
    font-size: 1.85rem;
  }
  .paraContentLine2 p{
    font-size: 1.35rem;
  }
  .customHero div:nth-child(1) {
    flex-basis: auto;
  }
  
  .customHero div:nth-child(2) {
    flex-basis: auto;
  }
}

@media (min-width: 520px) and (max-width: 1024px){
  #services>div{
    grid-template-columns: repeat(2,minmax(0,1fr));
    /* padding-top: 2rem; */
  }
}


.card {
  border-radius: .5rem;
  background: #e0e0e0;
  box-shadow: 10px 10px 30px #bebebe,
             -10px -10px 30px #ffffff;
}

.blogHeader+div>div>div>h3,
.customAbout h2, .serviceCardHeader>h3{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
}
.blogHeader+div>div div>p,
#about p,
.serviceCardHeader~p{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}